<h2>Password Policies</h2>
<p>This authenticator lets you enforce the use of passwords when users sign in to Okta or an app. You can customize complexity requirements, apply password rules to groups or individuals, and set lockout conditions. End users can reset forgotten passwords without the aid of a helpdesk.</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for html_table in password_policies_data %}
        {{ html_table | safe }}
        <br/>
        {% endfor %}
    </tbody>
</table>