body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

thead {
    background-color: #0226a8;
    color: #fff;
}

th, td{
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

thead th {
    text-align: center;
}

tbody td {
    text-align: left;
}

tbody tr{
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #0226a8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0069d9;
}